/* General layout for the dashboard */

.dashboard-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  margin-top: 20px;
  padding-inline: 50px;
}

/* Styling for the CNAPP Dashboard title */
.dashboard-title {
  font-size: 24px;
  font-weight: bold;
}

/* Container for the buttons */
.dashboard-buttons {
  display: flex;
  align-items: center;
  gap: 15px;
}

/* Base styling for all buttons to ensure same height and font size */
.add-widget-button {
  display: flex;
  align-items: center;
  height: 40px; /* Fixed height for all buttons */
  font-size: 14px; /* Same font size for all buttons */
  padding: 0 15px; /* Padding for content inside buttons */
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 10px;
  white-space: nowrap; /* Prevent text wrapping */
}

.dashboard-button:hover {
  background-color: #f0f0f0;
}

/* Specific styling for the Add Widget button */
.add-widget-button {
  flex-shrink: 0;
}

/* Specific styling for the icon buttons */
.dashboard-icon-button {
  background-color: transparent;
  /* border: none; */
  border: 1px solid #ddd;
  cursor: pointer;
  font-size: 14px;
  padding: 0 10px; /* Consistent padding for icons */
  height: 40px; /* Same height as other buttons */
  border-radius: 5px;
}

/* Styling for the Last 2 days button */
.dashboard-date-button {
  display: flex;
  align-items: center;
  padding: 0 15px;
  background-color: #f9f9f9;
  border: 1px solid #0073e6;
  border-radius: 5px;
  color: #0073e6;
  cursor: pointer;
  font-size: 14px;
  height: 40px; /* Same height as other buttons */
}

.dashboard-date-button:hover {
  background-color: #e6f3ff;
}

/* Container for all categories */
.categories-container {
  padding: 20px;
}

/* Container for the first category */
.category-container-1 {
  margin-bottom: 20px;
  /* border: 1px solid rgb(83, 177, 99); */
  padding: 20px;
}

/* Heading style */
.category-container-1 h3 {
  font-size: 20px;
  margin-bottom: 20px;
  text-align: start;
  /* border: 1px solid red; */
}

/* Flexbox container to arrange widgets horizontally */
.widgets-container {
  display: flex;
  justify-content: space-between;
  gap: 10px; /* Space between the widgets */
}

/* Widget styling */
.widget {
  flex: 1; /* Allows each widget to take up equal space */
  height: 240px; /* Set height for the widget */
  border: 1px solid #ddd;
  border-radius: 10px;
  background-color: #f9f9f9;
  display: flex;
  justify-content: center; /* Center content horizontally */
  align-items: center; /* Center content vertically */
}

/* Button styling */
.add-widget-button {
  font-size: 14px;
  padding: 10px 20px;
  /* background-color: #0073e6; */
  color: #3f3f46;
  /* border: none; */
  border-radius: 5px;
  cursor: pointer;
}


