.categories-container {
    padding: 20px;
    background: #e0ebff;
  }
  
  .category-container-1 {
    margin-bottom: 20px;
    padding: 20px;

  }
  
  .category-container-1 h3 {
    font-size: 20px;
    margin-bottom: 20px;
    text-align: start;
    
  }
  
  