.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  padding-inline: 50px;
}
.navbar-left {
  flex: 1;
}
.navbar-home {
  text-decoration: none;
  font-size: 16px;
  color: #9ca3af;
}
.navbar-right {
  flex: 2;
  text-align: center;
}
.navbar-search-container {
  position: relative;
  display: inline-block;
  width: 100%;
  max-width: 500px;
}

.navbar-search {
  padding: 5px 10px 5px 35px; 
  font-size: 16px;
  width: 100%;
  border: 2px solid #e0f2fe;
  color: black;
  background: #f0f9ff;
  border-radius: 4px;
  outline: none;
}
.navbar-search-icon {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 18px;
  color: #b3cfe1;
}
